.find{
    width: 400px;
    height: 40px;
    margin-top: 50px;
    float: left;
    margin-left: 310px;
}
.find_input{
    width: 70%;
    height: 100%;
    padding-left: 10px;
    outline:medium;
    background-color: #E5E5E5;
    border: 1px solid #c9c9c9;
}
.find_button{
    width: 24%;
    margin-left: 1%;
    height: 100%;
    border: none;
    outline:medium;
}