body {
  margin: 0;
  padding: 0;
  font-family: 微软雅黑;
}
.width{
  width: 100%;

}
.height{
  height: 100%;
}
.font_12{
  font-size: 12px;
}
.font_14{
  font-size: 14px;
}
.font_16{
  font-size: 16px;
}
.font_18{
  font-size: 18px;
}
.font_20{
  font-size: 20px;
}
.font_weight{
  font-weight: bold;
}
.left{
  float: left;
}
.right{
  float: right;
}
.route_all{
  float: left;
  width: 100%;
  margin: 0 auto;
  border: 1px solid red;
}
.radius{
  border-radius: 5px;
}
.color_orange{
  color: #FF9D00;
}
.color_white{
  color: white;
}
.color_grey{
  color: #999999;
}
.color_black{
  color: black;
}
.background{
  background-color: #FF9D00;
}