.login_box{
    width: 26%;
    height: 30%;
    background-color: RGBA(0, 0, 0, 0.8);
    position: fixed;
    top: 30%;
    left: 37%;
    z-index: 4;
    border-radius: 5px;
    padding-top: 1%;
    opacity: 0;
}
.login_show{
    opacity: 1;
}
.login_total{
    width: 70%;
    height: 45px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
    margin-left: 15%;
    background-color: #EFEFEF;
    outline:medium;
    border: none;
}
.login_phone{
    margin-top: 8%;
    padding-left: 2%;
}
.login_forget{
    width: 20%;
    margin-left: 15%;
    text-decoration: none;
}
.login_forget:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #FF9D00;
}
.login_ok{
    width: 17%;
    height: 45px;
    margin-left: 11%;
    margin-top: 7%;
    border: none;
    outline:medium;
}
.login_ok:hover{
    cursor: pointer;
}
.login_check{
    margin-top: 7%;
    padding-left: 2%;
}