*{
    padding:0;
    margin:0;
}
#container {
    width: 100%;
    float: left;
}
.picture_img{
    width: 100%;
}
.picture_img li{
    list-style-type: none;
}
.commonImgStyle{
    top: 50px;
    width: 100%;
}
.img_position{
    position: absolute;
}
.show {
    opacity: 1;
}
.hidden {
    opacity: 0;
}
.sliderAction{
    transition: opacity 0.5s linear 0.5s;
}
.arrow {
    position: absolute;
    top: 250px;
    z-index: 2;
    display: none;
    width: 40px;
    height: 40px;
    font-size: 36px;
    font-weight: bold;
    line-height: 39px;
    text-align: center;
    color: #FF9D00;
    background-color: RGBA(0, 0, 0, 0.3);
    cursor: pointer;
}

.picture_find{
    position: absolute;
    top: 300px;
    z-index: 2;
    width: 34%;
    height: 10%;
    background-color: RGBA(0, 0, 0, 0.6);
    left: 33%;
}

.picture_input{
    font-family: 微软雅黑;
    width: 80%;
    margin-left: 3%;
    height: 50%;
    border: none;
    outline:medium;
    margin-top: 3.5%;
    padding-left: 2%;
}

.picture_button{
    font-family: 微软雅黑;
    width: 11%;
    border: none;
    outline:medium;
    height: 50%;
    margin-left: 2%;
}

.picture_button{
    cursor: pointer;
}

#container:hover .arrow {
    display: block;
}
#prev {
    left: 20px;
}
#next {
    right: 20px;
}