.place{
    padding-top: 60px;
}
.place_another{
    width: 1360px;
    margin: 0 auto;
}
.place_all{
    width: 75%;
    margin: 0 auto;
    height: 1000px;
}
.place_title{
    width: 100%;
    text-align: center;
    font-weight: bold;
}
.place_place{
    width: 44%;
    line-height: 35px;
    margin-left: 4%;
    margin-top: 30px;
    border-bottom: 1px solid #E5E5E5;
}
.place_link{
    margin-left: 5%;
}
.place_one{
    height: 800px;
    margin-top: 50px;
}
.place_every{
    width: 88%;
    margin-left: 5%;
    height: 100px;
    border: 2px solid #E5E5E5;
    padding: 1% 1% 1% 1%;
}
.place_name{
    line-height: 30px;
}
.place_content{
    margin-top: 1%;
}