.articlePage{
    margin: 0 auto;
    width: 100%;
    float: left;
}

.page1{
    margin: 0 auto;
    height: 100px;
    width: 1360px;
}

.page1_all{
    width: 75%;
    margin: 0 auto;
}
.page1_left{
    width: 65%;
    margin-top: 50px;
}
.page1_title{
    width: 100%;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 1px solid #E5E5E5;
}

.back-top{
    position:fixed;
    top: 80%;
    left: 80%;
    width: 50px;
    height: 50px;
    border: 1px solid gainsboro;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    color: #666666;
}

.page1_right{
    border-left:1px solid #cbcbcb;
    position:fixed;
    width: 330px;
    top: 80px;
    left: 70%;
}
.page1_button{
    width: 75px;
    margin-right: 3%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin-top: 10px;
}

.page1_button_left{
    margin-left: 40px;
}

.page1_button:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
    cursor: pointer;
}
.page1_time{
    margin-top: 10px;
    margin-left: 30px;
}
.page1_writer{
    width: 100%;
    height: 150px;
    border: 1px solid #E5E5E5;
    margin-top: 30px;
}
.page1_head{
    width: 120px;
    height: 120px;
    border-radius: 120px;
    margin-top: 15px;
    margin-left: 15px;
}
.page1_head img{
    width: 100%;
    height: 100%;
    border-radius: 120px;
}
.page1_head img:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
    cursor: pointer;
}
.page1_name{
    height: 25%;
    width: 55%;
    margin-left: 3%;
    font-weight: bold;
    margin-top: 3%;
    border-right: 1px solid #E5E5E5;
    padding-right: 3%;
}
.page1_name:hover{
    text-decoration: underline;
    color: #FF9D00;
    cursor: pointer;
}
.page1_intro{
    width: 55%;
    height: 35%;
    margin-left: 3%;
    border-right: 1px solid #E5E5E5;
    padding-right: 3%;
}
.page1_like{
    width: 55%;
    margin-left: 3%;
    border-right: 1px solid #E5E5E5;
    padding-right: 3%;
}
.page1_connect{
    font-weight: bold;
    margin-top: 10%;
    margin-right: 4%;
}
.page1_connect:hover{
    text-decoration: underline;
    color: #FF9D00;
    cursor: pointer;
}
.page1_content{
    width: 98%;
    padding: 1% 1% 1% 1%;
    margin-top: 30px;
}
.page1_synopsis{
    text-indent: 2em;
}
.page1_more{
    width: 98%;
    margin-left: 1%;
    margin-top: 10%;
}
.page1_moreTitle{
    text-align: center;
}
.page1_moreOne{
    margin-top: 5px;
    margin-left: 20px;
    text-decoration: none;
    color: #797979;
}

.createTimeSty{
    margin-top: 5px;
    margin-left: 20px;
    text-decoration: none;
    color: #797979;
}

.more_div{
    width: 100%;
    float: left;
    border-bottom:1px solid #e0e0e0;
    padding-bottom: 3px;
    margin-left: 15px;
}

.point{
    cursor: pointer;
}

.page1_moreOne:hover{
    text-decoration: underline;
}
.page1_space{
    margin-top: 20px;
}
.page1_bottom{
    border-bottom: 1px dashed #999999;
    padding-bottom: 5px;
}