.title1_all{
    font-family: '微软雅黑';
    height: 50px;
}
.title1_logo{
    margin-left: 25%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.title1_logo img{
    height: 100%;
}
.headerFirst{
    margin-left: 2%;
}
.headerEnd{
    margin-right: 2%;
}
.headerCommon{
    color: black;
    display:flex;/*Flex布局*/
    display: -webkit-flex; /* Safari */
    align-items:center;/*指定垂直居中*/
    padding-right: 15px;
    padding-left: 15px;
    height: 47px;
    line-height: 50px;
    border-bottom:3px solid white;
    font-size: 16px;
}
.onclickStyle{
    color: white;
    border-bottom:3px solid #FF9D00;
    background-color: #FF9D00;
}
.overStyle{
    border-bottom:3px solid #FF9D00;
    color:#FF9D00;
    cursor:pointer;
}
.outStyle{
    border-bottom:3px solid white;
    color: #3c3c3c;
}

.headImg{
    padding-top: 8px;
}

.headImg img{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.title1_login{
    line-height: 50px;
    margin-left: 5%;
    font-size: 14px;
}
.title1_register{
    margin-left: 1%;
}
.title1_login a{
    text-decoration: none;
    color: black;
}
.title1_login a:hover{
    text-decoration: underline;
    color: #FF9D00;
    cursor: pointer;
}
.title1_back{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: RGBA(0, 0, 0, 0.8);
    z-index: 3;
    opacity: 0;
}