.user{
    width: 1360px;
    padding-top: 65px;
    margin: 0 auto;
    height: 800px;
}

.headerCenter{
    width: 100px;
    float: right;
    line-height:50px;
    color: #fff;
    text-decoration: none;
}

.headerCenter_Font{
    color: white;
}

.user_com{
    background-color: #EFEFEF;
}

.TopTitle_com{
    width: 100%;
    background: #222427;
}
.TopTitle_com_div{
    width: 1360px;
    margin:0 auto;
}

.TopTitleCommon{
    line-height:50px;
    margin-right: 50px;
    color: white;
}

.TopTitleCommonFont{
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.TopTitle{
    width: 1000px;
    height: 50px;
    margin-left: 12.5%;
}

.overTopTitle{
    background: #000;
}
.outTopTitle{
    background: #222427;
}

.user_all{
    width: 75%;
    margin-left: 12.5%;
}
.user_left{
    width: 29%;
}
.user_info{
    background-color: #fff;
    width: 100%;
    border: 1px solid #E5E5E5;
}
.user_left img{
    width: 150px;
    margin-left: 25%;
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
}
.user_name{
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
.user_change{
    width: 80%;
    margin-left: 10%;
    background-color: #E5E5E5;
    line-height: 30px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #666666;
}
.user_change:hover{
    cursor: pointer;
}
.user_right{
    width: 69%;
    background-color: #fff;
}
.user_nav{
    height: 50px;
    border: 1px solid #E5E5E5;
}
.user_choose{
    width: 15%;
    line-height: 50px;
    text-align: center;
    border-right: 1px solid #E5E5E5;
}
.user_discribe{
    width: 77%;
    margin-left: 10%;
    height: 50px;
    background-color: #E5E5E5;
    border: none;
    outline:medium;
    padding-left: 3%;
    display: none;
    margin-bottom: 10px;
    font-size: 14px;
}
.display_show{
    display: inline;
}
.user_fans{
    margin-top: 5px;
    width: 50%;
    border-top: 1px solid #E5E5E5;
    text-align: center;
    line-height: 40px;
}
.fans_border_right{
    width: 49.5%;
    border-right:1px solid #E5E5E5;
}

.userInfo_all{
    border: 1px solid #E5E5E5;
    float: left;
}
.userInfo_space{
    margin-left: 2%;
}
.userInfo_title{
    line-height: 50px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.userInfo_sex{
    margin-bottom: 20px;
    height: 30px;
}
.userInfo_man{
    width: 10%;
    border: 1px solid #E5E5E5;
    outline:medium;
}
.userInfo_one{
    outline:medium;
    width: 50%;
    height: 30px;
    margin-bottom: 20px;
    border: none;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    padding-left: 2%;
}
.userInfo_dis{
    width: 80%;
}
.userTravel_title{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #E5E5E5;
}
.userInfo_ok{
    outline: medium;
    border: none;
    background-color: #FF9D00;
    height: 30px;
    width: 20%;
    margin-left: 77%;
    margin-bottom: 20px;
}
.userInfo_ok:hover{
    cursor: pointer;
}
.userTravel_count{
    width: 20%;
    line-height: 50px;
}
.userTravel_one{
    width: 88%;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #E5E5E5;
    height: 100px;
    padding: 1% 1% 1% 1%;
}
.userTravel_one:hover{
    box-shadow: 0 0 5px 1px #999999;
    cursor: pointer;
}
.userTravel_one img{
    width: 25%;
    height: 100%;
    float: left;
    margin-right: 1%;
    border-radius: 5px;
}
.userTravel_content{
    width: 74%;
    margin-top: 1%;
}
.userTravel_time{
    margin-left: 5%;
}
.userFans_one{
    margin-top: 10px;
    width: 30%;
    height: 260px;
    border: 1px solid #E5E5E5;
    margin-left: 2%;
    margin-bottom: 10px;
}
.userFans_one:hover{
    box-shadow: 0 0 5px 1px #999999;
    cursor: pointer;
}
.userFans_one img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-left: 25%;
    margin-top: 10px;
}
.userFans_name{
    margin: 0 auto;
    text-align: center;
}
.userFans_travel{
    width: 30%;
    line-height: 30px;
    margin-top: 5%;
}
.userFans_number{
    text-align: center;
}
.userFans_left{
    margin-left: 5%;
}
.userFans_border{
    border-left: 1px solid #E5E5E5;
}
.userFans_button{
    border: none;
    outline:medium;
    width: 30%;
    height: 12%;
    margin-left: 15%;
    margin-top: 5%;
}
.userFans_margin{
    margin-left: 10%;
}