.write{
    width: 1360px;
    padding-top: 100px;
    margin: 0 auto;
}
.write_div{
    width: 75%;
    margin: 0 auto;
}
.write_title{
    height: 40px;
    padding-left: 2%;
    border: 1px solid #E5E5E5;
    margin-bottom: 30px;
    width: 98%;
    outline:medium;
}
.write_content{
    margin: 0 auto;
    border: 1px solid #E5E5E5;
}
.write_intro{
    font-family: 微软雅黑;
    width: 96%;
    height: 40px;
    margin-bottom: 30px;
    padding:1% 2% 1% 2%;
    border: 1px solid #E5E5E5;
    outline:medium;
    resize:none;
}